# Data processing
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.6.1
joblib==1.4.2

# ML models
xgboost==3.0.0
lightgbm==4.6.0

# Model explanation
shap==0.47.2
lime==0.2.0.1
matplotlib==3.9.1
seaborn==0.13.2
plotly==6.0.1

# Imbalanced data handling
imbalanced-learn==0.13.0

# Hyperparameter optimization
optuna==4.3.0

# API
fastapi==0.115.12
uvicorn==0.34.2
pydantic==2.8.2

# UI
streamlit==1.37.0
requests==2.32.3

# Utils
python-dotenv==1.0.1